.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.input-container {
  margin-bottom: 70px;
}
.input-container input {
  width: 400px;
  height: 25px;
  background-color: lightblue;
  border-radius: 5px;
}

.emoji-content {
  border: solid 1px lightblue;
  border-radius: 5px;
  width: 600px;
  display: flex;
  margin-bottom: 10px;
  font-size: 20px;
}
.emoji-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 400px) {
  .input-container input {
    width: 70%;
  }

  .emoji-content {
    width: 80%;
  }
}
